extends ../layout/main

block variables
	- var title = 'Leads';
	- var sidebar = 'open';

block content
	section.page-top
		.page-top__col
			h1 Leads

			.page-top__text The list contains 3,021 leads

			.select
				.select__main
					| Google TV campain
					.select__arr
						+svg('ic-arrow-down','ic-arrow-down', '11', '6')

				.select__list
					.select__option Parametr 1
					.select__option Parametr 2
					.select__option Parametr 3

		.page-top__col
			form.form-search
				input(type="text", name="search", placeholder="Search")
				button.form-search__btn(type="submit")
					+svg('ic-search','ic-search', '15', '15')

			.select-check.select-check_right
				.select-check__field
					.select-check__info
						+svg('ic-column','ic-column', '15', '15')
						|Columns

					.select-check__arr
						+svg('ic-arrow-down','ic-arrow-down', '11', '6')

					.select-check__popup
						-
							var list=[
								{text:'Lead Name', status:'active'},
								{text:'Campain Name'},
								{text:'Affiliator Name'},
								{text:'Phone', status:'active'},
								{text:'Email', status:'active'},
								{text:'Status', status:'active'},
								{text:'Campain Name'},
								{text:'Affiliator Name'},
								{text:'Phone', status:'active'},
							]
						each item in list
							.select-check__item
								label.input-check
									if(item.status=='active')
										input(type='checkbox', checked="checked")
									else
										input(type='checkbox')
									span.input-check__mark
										+svg('ic-tick','ic-tick', '8', '6')
									span.input-check__text= item.text

			.filter.filter_right
				.filter__btn
					+svg('ic-filter','ic-filter', '18', '16')
					.filter__arr
						+svg('ic-arrow-down','ic-arrow-down', '11', '6')

				.filter__popup
					.filter__list
						-
							var list=[
								{
									title: 'Source',
									items:[
										{text:'Google.offcial', status:'active'},
										{text:'Google.fb'},
										{text:'Google.ig'},
										{text:'Google.tt'},
									]
								},
								{
									title: 'Status',
									items:[
										{text:'Active', status:'active'},
										{text:'Waiting'},
										{text:'Pause'},
										{text:'Decline'},
									]
								},
								{
									title: 'Meeting',
									items:[
										{text:'Google.offcial', status:'active'},
										{text:'Google.fb'},
									]
								},
								{
									title: 'UTM',
									items:[
										{text:'Active'},
										{text:'Waiting'},
									]
								},
							]
						each sect in list
							.filter__sect
								.filter__title= sect.title

								each item in sect.items
									.filter__item
										label.input-check
											if(item.status=='active')
												input(type='checkbox', checked="checked")
											else
												input(type='checkbox')
											span.input-check__mark
												+svg('ic-tick','ic-tick', '8', '6')
											span.input-check__text= item.text

					.filter__bottom
						span.btn.btn_border
							+svg('ic-clear','ic-clear', '19', '19')
							|Clear All

						span.btn.btn_border
							|Apply
							+svg('ic-arrow-right','ic-arrow-right', '6', '11')

			.view
				.view__item.active
					+svg('ic-tile','ic-tile', '12', '12')
				.view__item
					+svg('ic-lines','ic-lines', '12', '12')

			.filter-date
				.filter-date-btn
					span.filter-date-btn__content
						+svg('ic-calendar','ic-calendar', '16', '18')
						span.filter-date-btn__text Filter by date

					span.filter-date-btn__arr
						+svg('ic-arrow-down','ic-arrow-down', '11', '6')

				.filter-date__popup
					.calendar
						.calendar-period
							-
								var list=[
									{text:'Custom', status:'active'},
									{text:'Today'},
									{text:'Yesterday'},
									{text:'This week'},
									{text:'Last week'},
									{text:'This month'},
									{text:'Last month'},
									{text:'Alll time'},
								]
							each item in list
								.calendar-period__item(class=item.status?'active':'')= item.text

						.calendar-main
							.calendar-main__top
								.calendar-main__title December 2023

								.calendar-main__arrows
									.calendar-main__arr
										+svg('ic-arrow-left','ic-arrow-left', '6', '11')

									.calendar-main__arr
										+svg('ic-arrow-right','ic-arrow-right', '6', '11')

							.calendar-main__content
								.calendar-main__label S
								.calendar-main__label M 
								.calendar-main__label T
								.calendar-main__label W
								.calendar-main__label T
								.calendar-main__label F
								.calendar-main__label S
								.calendar-main__item.disabled 27
								.calendar-main__item.disabled 28
								.calendar-main__item.disabled 29
								.calendar-main__item.disabled 30
								.calendar-main__item 1
								.calendar-main__item 2
								.calendar-main__item 3
								.calendar-main__item 4
								.calendar-main__item 5
								.calendar-main__item.active 6
								.calendar-main__item.selected 7
								.calendar-main__item.selected 8
								.calendar-main__item.selected 9
								.calendar-main__item.selected 10
								.calendar-main__item.selected 11
								.calendar-main__item.selected 12
								.calendar-main__item.selected 13
								.calendar-main__item.selected 14
								.calendar-main__item.active 15
								.calendar-main__item 16
								.calendar-main__item 17
								.calendar-main__item 18
								.calendar-main__item 19
								.calendar-main__item 20
								.calendar-main__item 21
								.calendar-main__item 22
								.calendar-main__item 23
								.calendar-main__item 24
								.calendar-main__item 25
								.calendar-main__item 26
								.calendar-main__item 27
								.calendar-main__item 28
								.calendar-main__item 29
								.calendar-main__item 30
								.calendar-main__item 31

			.btn-circle.btn-circle_big
				+svg('ic-plus','ic-plus', '12', '12')

	section.cards
		.cards__column
			.cards__top
				.cards__count 120
				|Active

			.cards__list
				-
					var list=[
						{
							rating:'66%',
							move:'true',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
					]
				each item in list
					.card-item
						.card-item__top
							.rating
								.rating__content(style="width:"+item.rating)

							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-star','ic-star', '14', '14')
													.card-menu__text Other Campain

											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-briefcase','ic-briefcase', '15', '15')
													.card-menu__text Other Company

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-archive','ic-archive', '18', '18')
											.card-menu__text Archive

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
		
						.card-item__content
							.card-item__name Andy Brown
								span.card-item__count 3

							.card-item__phone +972 52 6861 881
							.card-item__mail andy@gmail.com

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
								.card-author__text Jessica Frencheska

							.card-item__date 23 May 2021
	
		.cards__column
			.cards__top
				.cards__count.cards__count_yellow 80
				|Paused

			.cards__list
				-
					var list=[
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
					]
				each item in list
					.card-item
						.card-item__top
							.rating
								.rating__content(style="width:"+item.rating)

							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-star','ic-star', '14', '14')
													.card-menu__text Other Campain

											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-briefcase','ic-briefcase', '15', '15')
													.card-menu__text Other Company

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-archive','ic-archive', '18', '18')
											.card-menu__text Archive

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__name Andy Brown

							.card-item__phone +972 52 6861 881
							.card-item__mail andy@gmail.com

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
								.card-author__text Jessica Frencheska

							.card-item__date 23 May 2021
		
		.cards__column
			.cards__top
				.cards__count.cards__count_purple 12
				|Waiting

			.cards__list
				-
					var list=[
						{
							rating:'66%',
							menu:'open',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
					]
				each item in list
					.card-item
						.card-item__top
							.rating
								.rating__content(style="width:"+item.rating)

							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu(class=item.menu?'open':'')
								.btn-circle.btn-circle_grey
									if(item.menu)
										+svg('ic-close','ic-close', '10', '10')
									else
										+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-star','ic-star', '14', '14')
													.card-menu__text Other Campain

											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-briefcase','ic-briefcase', '15', '15')
													.card-menu__text Other Company

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-archive','ic-archive', '18', '18')
											.card-menu__text Archive

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__name Andy Brown

							.card-item__phone +972 52 6861 881
							.card-item__mail andy@gmail.com

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
								.card-author__text Jessica Frencheska

							.card-item__date 23 May 2021
		
		.cards__column
			.cards__top
				.cards__count.cards__count_red 5
				|Decline

			.cards__list
				-
					var list=[
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
						{
							rating:'66%',
						},
					]
				each item in list
					.card-item
						.card-item__top
							.rating
								.rating__content(style="width:"+item.rating)

							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-star','ic-star', '14', '14')
													.card-menu__text Other Campain

											.card-menu__item
												.card-menu__item-content
													.card-menu__icon
														+svg('ic-briefcase','ic-briefcase', '15', '15')
													.card-menu__text Other Company

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-archive','ic-archive', '18', '18')
											.card-menu__text Archive

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__name Andy Brown

							.card-item__phone +972 52 6861 881
							.card-item__mail andy@gmail.com

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
								.card-author__text Jessica Frencheska

							.card-item__date 23 May 2021