extends ../layout/main

block variables
	- var title = 'Settings';
	- var main_color = 'grey';

block content
	section.settings
		ul.left-menu
			-
				var list=[
					{icon:'ic-briefcase', icon_width:'15', icon_height:'15', text:'Business'},
					{icon:'ic-wallet', icon_width:'17', icon_height:'16', text:'Billing', status:'active'},
					{icon:'ic-link', icon_width:'17', icon_height:'10', text:'Integrations'},
					{icon:'ic-note', icon_width:'17', icon_height:'17', text:'Leads Statuses'},
					{icon:'ic-notice', icon_width:'16', icon_height:'18', text:'Notifications Settings'},
				]
			each item in list
				li.left-menu__item(class=item.status?item.status:'')
					.left-menu__icon
						+svg(item.icon, item.icon, item.icon_width, item.icon_height)
					.left-menu__text= item.text

		.settings__wrap
			.settings__content
				.settings__title Billing

				.credit-history
					.credit-history__sect.credit-history__sect_green
						.credit-history__top
							.credit-history__title Crad Details
							.btn-circle.btn-circle_opacity
								+svg('ic-edit','ic-edit', '14', '14')

						.credit-history-info
							.credit-history-info__icon
								+svg('ic-credit-card','ic-credit-card', '22', '19')
							.credit-history-info__text 4580&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;8899
					
					.credit-history__sect
						.credit-history__top
							.credit-history__title Bank Account Details
							.btn-circle.btn-circle_grey
								+svg('ic-edit','ic-edit', '14', '14')

						.credit-history__list
							-
								var list=[
									{label:'Owners name', val:'Jones Fredinand'},
									{label:'Bank number', val:'1234567'},
									{label:'Branch number', val:'7654321'},
									{label:'Account number', val:'9087654321'},
								]
							each item in list
								.credit-history__item
									.credit-history__label= item.label
									.credit-history__val= item.val
					
					.credit-history__sect
						.credit-history__top
							.credit-history__title Invoices History
							.btn-circle.btn-circle_grey
								+svg('ic-export','ic-export', '16', '16')

						.table-site-wrap.table-site-wrap_white
							table.table-site
								thead
									tr
										th.table-site__head
											.table-site__head-content Invoice no.

										th.table-site__head
											.table-site__head-content Date

										th.table-site__head
											.table-site__head-content Amount

										th.table-site__head
											.table-site__head-content Preview

								tbody
									-
										var list=[
											{inv:'6003', date:'20.3.2023', amount:'$80'},
											{inv:'6002', date:'20.3.2023', amount:'$120'},
											{inv:'6001', date:'20.1.2023', amount:'$80'},
											{inv:'6000', date:'20.12.2022', amount:'$80'},
										]
									each item in list
										tr
											td= item.inv
											td= item.date
											td
												span.text-green= item.amount
											td
												.file
													.file__icon
														+svg('ic-paper','ic-paper', '13', '14')
													.file__text PDF

							.pager
								a.pager__nav
									+svg('ic-arr-left','ic-arr-left', '10', '8')
									|Previous

								a.pager__nav
									|Next
									+svg('ic-arr-right','ic-arr-right', '10', '8')