extends ../layout/main

block variables
	- var title = 'Settings';
	- var main_color = 'grey';

block content
	section.settings
		ul.left-menu
			-
				var list=[
					{icon:'ic-briefcase', icon_width:'15', icon_height:'15', text:'Business'},
					{icon:'ic-wallet', icon_width:'17', icon_height:'16', text:'Billing'},
					{icon:'ic-link', icon_width:'17', icon_height:'10', text:'Integrations', status:'active'},
					{icon:'ic-note', icon_width:'17', icon_height:'17', text:'Leads Statuses'},
					{icon:'ic-notice', icon_width:'16', icon_height:'18', text:'Notifications Settings'},
				]
			each item in list
				li.left-menu__item(class=item.status?item.status:'')
					.left-menu__icon
						+svg(item.icon, item.icon, item.icon_width, item.icon_height)
					.left-menu__text= item.text

		.settings__wrap
			.settings__content
				.settings__title Integrations

				.info-int
					.info-int__sect
						.info-int__title Credentials

						.info-int__list
							-
								var list=[
									{
										items:[
											{label:'Facebook page id', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										items:[
											{label:'Facebook business manager id', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										items:[
											{label:'Google mcc id', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										items:[
											{label:'Instagram id', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										items:[
											{label:'Linkedin id', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									
								]
							each row in list
								.info-int__row
									each item in row.items
										.info-int__item
											.info-int__label= item.label
											.info-int__val= item.val
												.info-int__edit
													+svg('ic-edit','ic-edit', '8', '8')
					
					.info-int__sect
						.info-int__title Analytics & data

						.info-int__list
							-
								var list=[
									{
										title:'Google analytics',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Facebook analytics',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Instagram',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Linkedin',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Youtube',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									
								]
							each row in list
								.info-int__row
									.info-int__subtitle= row.title

									each item in row.items
										.info-int__item
											.info-int__label= item.label
											.info-int__val= item.val
												.info-int__edit
													+svg('ic-edit','ic-edit', '8', '8')

					
					.info-int__sect
						.info-int__title Ads manager

						.info-int__list
							-
								var list=[
									{
										title:'Google',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Facebook',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
									{
										title:'Linkedin',
										items:[
											{label:'ID', val:'2312456578'},
											{label:'Secret key', val:'Syj53&$fdgkj99'},
										]
									},
								]
							each row in list
								.info-int__row
									.info-int__subtitle= row.title

									each item in row.items
										.info-int__item
											.info-int__label= item.label
											.info-int__val= item.val
												.info-int__edit
													+svg('ic-edit','ic-edit', '8', '8')

					