extends ../layout/main

block variables
	- var title = 'Settings';
	- var main_color = 'grey';

block content
	section.settings
		ul.left-menu
			-
				var list=[
					{icon:'ic-briefcase', icon_width:'15', icon_height:'15', text:'Business'},
					{icon:'ic-wallet', icon_width:'17', icon_height:'16', text:'Billing'},
					{icon:'ic-link', icon_width:'17', icon_height:'10', text:'Integrations'},
					{icon:'ic-note', icon_width:'17', icon_height:'17', text:'Leads Statuses', status:'active'},
					{icon:'ic-notice', icon_width:'16', icon_height:'18', text:'Notifications Settings'},
				]
			each item in list
				li.left-menu__item(class=item.status?item.status:'')
					.left-menu__icon
						+svg(item.icon, item.icon, item.icon_width, item.icon_height)
					.left-menu__text= item.text

		.settings__wrap
			.settings__content
				.settings__title Leads statuses

				.table-site-wrap.table-site-wrap_white
					table.table-site
						thead
							tr
								th.table-site__head
									.table-site__head-content Name

								th.table-site__head
									.table-site__head-content Color

								th.table-site__head
									.table-site__head-content Action

						tbody
							-
								var list=[
									{name:'New', color:'#FF4D5A'},
									{name:'Invited to meeting', color:'#0FAD68'},
									{name:'Call back', color:'#000000'},
									{name:'Sara Milrose', color:'#2EAFFF'},
								]
							each item in list
								tr
									td= item.name
									td
										.color-edit
											.color-edit__circle
												.color-edit__circle-in(style="background:"+item.color)
											.color-edit__text= item.color
											.color-edit__btn
												+svg('ic-edit','ic-edit', '8', '8')
									td
										.select.select_small
											.select__field Send SMS
												.select__arr
													+svg('ic-arrow-down','ic-arrow-down', '11', '6')

											.select__popup
												-
													var list2=[
														{text:'Parameter 1'},
														{text:'Parameter 2'},
													]
												each item2 in list
													.select__item
														.select__icon
															+svg('ic-call','ic-call', '16', '16')
														.select__text= item.text

					.pager
						a.pager__nav
							+svg('ic-arr-left','ic-arr-left', '10', '8')
							|Previous

						a.pager__nav
							|Next
							+svg('ic-arr-right','ic-arr-right', '10', '8')
					