extends ../layout/main

block variables
	- var title = 'Tasks';

block content
	section.page-top
		.page-top__col
			h1 Tasks

		.page-top__col
			form.form-search
				input(type="text", name="search", placeholder="Search")
				button.form-search__btn(type="submit")
					+svg('ic-search','ic-search', '15', '15')

			.select-check.select-check_right
				.select-check__field
					.select-check__info
						+svg('ic-column','ic-column', '15', '15')
						|Columns

					.select-check__arr
						+svg('ic-arrow-down','ic-arrow-down', '11', '6')

					.select-check__popup
						-
							var list=[
								{text:'To Do', color:'red', status:'active'},
								{text:'In Progress', color:'yellow', status:'active'},
								{text:'Delayed / Blocked', color:'purple', status:'active'},
								{text:'Done', status:'active'},
								
							]
						each item in list
							.btn.btn_middle
								+svg('ic-plus','ic-plus', '10', '10')
								|Add Columns

							.select-check__item
								.select-check__item-content
									label.input-check
										if(item.status=='active')
											input(type='checkbox', checked="checked")
										else
											input(type='checkbox')
										span.input-check__mark
											+svg('ic-tick','ic-tick', '8', '6')
										span.input-check__circle(class=item.color?'input-check__circle_'+item.color:'')
										span.input-check__text= item.text

								.select-check__edit
									+svg('ic-edit','ic-edit', '14', '14')

			.view
				.view__item.active
					+svg('ic-tile','ic-tile', '12', '12')
				.view__item
					+svg('ic-lines','ic-lines', '12', '12')

			.btn-circle.btn-circle_big
				+svg('ic-plus','ic-plus', '12', '12')

	section.cards
		.cards__column
			.cards__top
				.cards__count.cards__count_red 4
				|To Do

			.cards__list
				-
					var list=[
						{
							title:'Create survey',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1200',
						},
						{
							title:'Make a plan',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elitnd improve your acco',
							ava:'1',
							task:'TASK - 1201',
						},
						{
							title:'Call to Jhon',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1202',
						},
						{
							title:'Create survey',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1203',
						},
					]
				each item in list
					.card-item
						.card-item__top.card-item__top_end
							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_red
													.card-menu__text To Do

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_yellow
													.card-menu__text In Progress

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_purple
													.card-menu__text Delayed / Blocked

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle
													.card-menu__text Done

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-edit','ic-edit', '16', '16')
											.card-menu__text Edit

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__title= item.title
							.card-item__text= item.text

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
									if(item.ava == 2)
										.card-author__img(style="background-image: url(assets/img/woman.png)")

								.card-author__text= item.task

							.card-item__date 23 May 2021
	
		.cards__column
			.cards__top
				.cards__count.cards__count_yellow 2
				|In Progress

			.cards__list
				-
					var list=[
						{
							title:'Get feedbacks',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1198',
						},
						{
							title:'Create a meeting',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elitnd improve your acco',
							ava:'1',
							task:'TASK - 1199',
						},
					]
				each item in list
					.card-item
						.card-item__top.card-item__top_end
							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_red
													.card-menu__text To Do

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_yellow
													.card-menu__text In Progress

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_purple
													.card-menu__text Delayed / Blocked

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle
													.card-menu__text Done

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-edit','ic-edit', '16', '16')
											.card-menu__text Edit

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__title= item.title
							.card-item__text= item.text

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
									if(item.ava == 2)
										.card-author__img(style="background-image: url(assets/img/woman.png)")

								.card-author__text= item.task

							.card-item__date 23 May 2021
	
		.cards__column
			.cards__top
				.cards__count.cards__count_purple 1
				|Delayed / Blocked

			.cards__list
				-
					var list=[
						{
							title:'Send documents',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1197',
						},
					]
				each item in list
					.card-item
						.card-item__top.card-item__top_end
							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_red
													.card-menu__text To Do

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_yellow
													.card-menu__text In Progress

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_purple
													.card-menu__text Delayed / Blocked

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle
													.card-menu__text Done

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-edit','ic-edit', '16', '16')
											.card-menu__text Edit

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__title= item.title
							.card-item__text= item.text

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
									if(item.ava == 2)
										.card-author__img(style="background-image: url(assets/img/woman.png)")

								.card-author__text= item.task

							.card-item__date 23 May 2021
		
		.cards__column
			.cards__top
				.cards__count 3
				|Done

			.cards__list
				-
					var list=[
						{
							title:'Create survey',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1196',
						},
						{
							title:'Make a plan',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elitnd improve your acco',
							ava:'1',
							task:'TASK - 1204',
						},
						{
							title:'Call to Sara',
							text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
							ava:'2',
							task:'TASK - 1205',
						},
					]
				each item in list
					.card-item
						.card-item__top.card-item__top_end
							.card-item__move
								+svg('ic-many-dots','ic-many-dots', '6', '10')

							.card-menu
								.btn-circle.btn-circle_grey
									+svg('ic-dots','ic-dots', '14', '2')
								
								.card-menu__popup
									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-move-to','ic-move-to', '18', '14')
											.card-menu__text Move to
											.card-menu__arr
												+svg('ic-arrow-right','ic-arrow-right', '6', '11')

										.card-menu__sub
											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_red
													.card-menu__text To Do

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_yellow
													.card-menu__text In Progress

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle.card-menu__circle_purple
													.card-menu__text Delayed / Blocked

											.card-menu__item
												.card-menu__item-content
													.card-menu__circle
													.card-menu__text Done

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-edit','ic-edit', '16', '16')
											.card-menu__text Edit

									.card-menu__item
										.card-menu__item-content
											.card-menu__icon
												+svg('ic-bin','ic-bin', '14', '16')
											.card-menu__text Delete
	
						.card-item__content
							.card-item__title= item.title
							.card-item__text= item.text

						.card-item__bottom
							.card-author
								.card-author__img-list
									.card-author__img(style="background-image: url(assets/img/woman.png)")
									if(item.ava == 2)
										.card-author__img(style="background-image: url(assets/img/woman.png)")

								.card-author__text= item.task

							.card-item__date 23 May 2021

block model
	.site-shadow

	.modal-main
		.modal-main__close
			.btn-circle.btn-circle_grey
				+svg('ic-close','ic-close', '10', '10')

		.modal-main__title Create Task
		
		.modal-main__content
			form.form-site
				.form-site__content
					.form-site__item
						input(type="text", name="title", placeholder="Title")

					.form-site__item
						.form-site__label Description
						textarea(placeholder="Add description of task", style="height: 104px;")

					.form-site__item
						.form-site__label Segment
						.select
							.select__field.active Call
								.select__arr
									+svg('ic-arrow-down','ic-arrow-down', '11', '6')

							.select__popup
								-
									var list=[
										{text:'Parameter 1'},
										{text:'Parameter 2'},
									]
								each item in list
									.select__item
										.select__icon
											+svg('ic-call','ic-call', '16', '16')
										.select__text= item.text

					.form-site__item
						.form-site__label Reminder

						.tabs-page
							ul.tabs-page__list
								li.tabs-page__item.active(data-item='tab1')
									+svg('ic-clock','ic-clock', '18', '18')

								li.tabs-page__item.active(data-item='tab2')
									+svg('ic-flag','ic-flag', '14', '20')

								li.tabs-page__item.active(data-item='tab3')
									+svg('ic-map','ic-map', '17', '20')

								li.tabs-page__item.active(data-item='tab4')
									+svg('ic-photo','ic-photo', '18', '18')

					.form-site__item
						.form-site__label Date & Time

						.form-site__list
							label.input-date
								input(type="date", value="2 December", disabled="disabled")

								.input-date__field Today
									.input-date__icon
										+svg('ic-calendar','ic-calendar', '16', '18')
										
							.input-time
								input(type="time", disabled="disabled", value="10:15")
								.input-time__icon
									+svg('ic-clock','ic-clock', '15', '15')

					.form-site__item.form-site__item_sb(style="margin-top:-10px;")
						.switch
							input(type="checkbox", id="switch1", checked="checked")
							label.switch__content(for="switch1")
								.switch__marker

							.switch__text Remind me

						.time-label
							+svg('ic-clock','ic-clock', '13', '13')
							|In 15 minutes

					.form-site__item
						.form-site__label Location
						input(type="text", placeholder="Add location")

					.form-site__item(style="margin-top:-10px;")
						.switch
							input(type="checkbox", id="switch2", checked="checked")
							label.switch__content(for="switch2")
								.switch__marker

							.switch__text Remind me a location


					.form-site-add(style="margin:0")
						.form-site-add__label Remind me when

						.form-site-add__item
							.select
								.select__field.active Chat with
									.select__arr
										+svg('ic-arrow-down','ic-arrow-down', '11', '6')

								.select__popup
									-
										var list=[
											{text:'Parameter 1'},
											{text:'Parameter 2'},
										]
									each item in list
										.select__item
											.select__icon
												+svg('ic-call','ic-call', '16', '16')
											.select__text= item.text
											
						.form-site-add__item
							input(type="text", placeholder="Add the user")
							.btn-circle.btn-circle_grey
								+svg('ic-plus','ic-plus', '10', '10')

						.file-upload
							label.file-upload__content
								input(type='file', name='file')

								span.file-upload__icon
									+svg('ic-spiral','ic-spiral', '17', '17')
								span.file-upload__text Attach file

				.form-site__btn
					button.btn
						|Create